<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Short Url Converter</title>
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
  <script src="https://kit.fontawesome.com/1a3d1e21cb.js" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@200&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>

  {{{body}}}
  <script src="/javascripts/bootstrap.bundle.js"></script>
  {{!-- 複製按鈕使用 --}}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.10/clipboard.min.js"></script>
  <script>
    const clipboard = new ClipboardJS('#btn-copy')
  </script>
</body>

</html>