<div class="container mx-auto text-center mt-5">
  <h2>Short Url Converter</h2>
  <div class="col">
    <img src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png"
      class="w-25 p-5">
  </div>
  <div>
    <p>轉換後的網址為:</p>
    <p id="url">{{shortenedUrl}}</p>
    <button id="btn-copy" data-clipboard-target="#url">
      Copy!
    </button>
  </div>

</div>